CS.NET/EF2/EF2/WCFClient/Service References/Proxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EF2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomer_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_InsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomer_InsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomer_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomer_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_InsertOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_InsertOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomer">
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetCustomerById" message="tns:ICustomer_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetCustomerByIdResponse" message="tns:ICustomer_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/InsertCustomer" message="tns:ICustomer_InsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/InsertCustomerResponse" message="tns:ICustomer_InsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/UpdateCustomer" message="tns:ICustomer_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/UpdateCustomerResponse" message="tns:ICustomer_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/DeleteCustomer" message="tns:ICustomer_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/DeleteCustomerResponse" message="tns:ICustomer_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetAllOrders" message="tns:ICustomer_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetAllOrdersResponse" message="tns:ICustomer_GetAllOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrder">
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetOrder" message="tns:IOrder_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetOrderResponse" message="tns:IOrder_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/InsertOrder" message="tns:IOrder_InsertOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/InsertOrderResponse" message="tns:IOrder_InsertOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/UpdateOrder" message="tns:IOrder_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/UpdateOrderResponse" message="tns:IOrder_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/DeleteOrder" message="tns:IOrder_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/DeleteOrderResponse" message="tns:IOrder_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomer" type="tns:ICustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/ICustomer/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomer/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomer/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomer/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/ICustomer/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrder" type="tns:IOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrder/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <soap:operation soapAction="http://tempuri.org/IOrder/InsertOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrder/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrder/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerOrder">
    <wsdl:port name="BasicHttpBinding_ICustomer" binding="tns:BasicHttpBinding_ICustomer">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CustomerOrder/Service1/" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrder" binding="tns:BasicHttpBinding_IOrder">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CustomerOrder/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>