CS.NET/EF2/EF2/WCFClient/Service References/ProxyReport/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EF2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetAllOrdersForCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersForCustomer" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetAllOrdersForCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersForCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetAllCustomers" message="tns:IReportService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetAllCustomersResponse" message="tns:IReportService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersForCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetAllOrdersForCustomer" message="tns:IReportService_GetAllOrdersForCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetAllOrdersForCustomerResponse" message="tns:IReportService_GetAllOrdersForCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersForCustomer">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetAllOrdersForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ReportServiceCO/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>